{% extends "base.html" %}

{% block title %}GoCampus - Connexion{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/connexion.css">
{% endblock %}

{% block content %}
    <!-- Formulaire Connexion -->
    <div class="main-content">
        <div class="login-card">

            <div class="login-header-wrapper">
                <img src="/static/images/logo.svg" alt="Logo" class="login-logo-img">
                <h1 class="login-logo-text">GoCampus</h1>
            </div>

            <h2 class="login-subtitle">Connexion</h2>

            <form id="loginForm">
                <!-- Champ Email -->
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <div class="input-wrapper">
                        <input type="email" id="email" required>
                    </div>
                </div>

                <!-- Champ Mot de passe -->
                <div class="form-group">
                    <label class="form-label">Mot de passe</label>
                    <div class="input-wrapper">
                        <input type="password" id="password" required>
                        <img src="/static/images/oeil 1.svg" id="togglePassword" class="eye-icon" alt="Voir">
                    </div>
                </div>

                <!-- Message d'erreur -->
                <div id="errorMessage" style="color: red; margin-bottom: 10px; display: none;"></div>

                <!-- Bouton Se connecter -->
                <button type="submit" class="btn-submit">Se connecter</button>
            </form>

            <div class="login-footer">
                Pas encore de compte ? <a href="/inscription">S'inscrire</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="/static/js/script.js"></script>
{% endblock %}
